@charset "UTF-8";
table{
    tbody > tr:nth-child(2n){
        background-color: lightgray;
    }       
}

td{
    border: 1px solid black;
    padding: 15px;
    width: 20px;
    text-align: center;
    border-radius: 2px;
}